body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ffffff;
    color: black;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    /* Ensure items wrap on smaller screens */
}

nav ul li {
    margin: 0 15px;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #a35827;
}

main {
    padding: 20px;
    text-align: center;
}

#about-us {
    padding: 20px;
    text-align: center;
}

#about-us h1 {
    font-size: 3em;
    margin-bottom: 20px;
    margin-top: auto;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-section img {
    max-width: 500px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about-content {
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #a35827;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    background-color: #a35827;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 10px;
}

.social-media li a {
    color: white;
    text-decoration: none;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    header {
        text-align: center;
    }

    /* nav ul {
        flex-direction: column;
    } */

    .about-section {
        flex-direction: column;
    }

    .about-content {
        text-align: center;
    }
}